<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.modular.rest.dao.TUserCarMapper">

    <select id="findAllUsersCar" resultType="com.stylefeng.guns.rest.modular.rest.model.TUserCar">
        SELECT * from t_user_car where s_status != 5
        <if test="status != null">
            and s_status = #{status}
        </if>
        <if test="end != null">
            and end = #{end}
        </if>
        <if test="seach != null and seach != ''">
            and (destination like CONCAT('%',#{seach},'%') or ride_place like CONCAT('%',#{seach},'%'))
        </if>
    </select>
</mapper>