@layout("/common/_container.html"){
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>管理</h5>
			</div>
			<div class="ibox-content">
				<div class="row row-lg">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-3">
								<#select id="filed1" name="词条" underline="false">
									<option value="">请选择词条</option>
									<option value="name">用户姓名</option>
									<option value="company">公司/单位</option>
									<option value="job">职务</option>
									<option value="follow">跟随人员姓名</option>
									<option value="accompany">陪同人员姓名</option>
									<option value="translate">翻译人员姓名</option>
									<option value="pick_up">嘉宾对接人姓名</option>
								</#select>
							</div>
							<div class="col-sm-2">
								<#NameCon id="value1" name="搜索" placeholder="内容" />
							</div>
							<div class="col-sm-3">
								<#select id="filed2" name="词条" underline="false">
									<option value="">请选择词条</option>
									<option value="name">用户姓名</option>
									<option value="company">公司/单位</option>
									<option value="job">职务</option>
									<option value="follow">跟随人员姓名</option>
									<option value="accompany">陪同人员姓名</option>
									<option value="translate">翻译人员姓名</option>
									<option value="pick_up">嘉宾对接人姓名</option>
								</#select>
							</div>
							<div class="col-sm-2">
								<#NameCon id="value2" name="搜索" placeholder="内容"/>
							</div>
							<div class="col-sm-2">
								<#button name="搜索" icon="fa-search" clickFun="TUser.search()" />
								<#button name="重置" icon="fa-trash" clickFun="TUser.reset()" />
							</div>
						</div>
						<div id="TUserTableToolbar" role="group">
							@if(shiro.hasPermission("/tUser/tUser_add")){
							<#button name="添加" icon="fa-plus" clickFun="TUser.openAddTUser()" />
							@} 
							@if(shiro.hasPermission("/tUser/tUser_update")){
							<#button name="修改" icon="fa-edit" clickFun="TUser.openTUserDetail()" space="true" />
							@} 
							@if(shiro.hasPermission("/tUser/delete")){
							<#button name="删除" icon="fa-remove" clickFun="TUser.delete()" space="true" />
							@} 
							@if(shiro.hasPermission("/tUser/tUser_detail")){
							<#button name="详情" icon="fa-remove" clickFun="TUser.detail()" space="true" />
							@}
							@if(shiro.hasPermission("/tUser/include")){
							<#button name="导入" icon="fa-remove" clickFun="TUser.include()" space="true" />
							@} 
							@if(shiro.hasPermission("/tUser/exclude")){ 
							<a href="${ctxPath}/tUser/exclude" class="btn btn-primary" style="margin-left: 15px;"><i class="fa fa-remove"></i>&nbsp;导出</a>
							@}
						</div>
						<#table id="TUserTable" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/modular/system/tUser/tUser.js"></script>
@}
