<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.TNewTeamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.TNewTeam">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="company" property="company"/>
        <result column="area" property="area"/>
        <result column="company_leader" property="companyLeader"/>
        <result column="team_nums" property="teamNums"/>
        <result column="card" property="card"/>
        <result column="link_user" property="linkUser"/>
        <result column="link_phone" property="linkPhone"/>
        <result column="pick_up" property="pickUp"/>
        <result column="j_use_car_date" property="jUseCarDate"/>
        <result column="j_use_car_time" property="jUseCarTime"/>
        <result column="j_traffic_num" property="jTrafficNum"/>
        <result column="j_ride_place" property="jRidePlace"/>
        <result column="j_destination" property="jDestination"/>
        <result column="j_ride_peoples" property="jRidePeoples"/>
        <result column="j_accompany_leader" property="jAccompanyLeader"/>
        <result column="j_pay_type" property="jPayType"/>
        <result column="j_has_stop_card" property="jHasStopCard"/>
        <result column="j_add_remark" property="jAddRemark"/>
        <result column="j_car_arrange" property="jCarArrange"/>
        <result column="j_driver" property="jDriver"/>
        <result column="j_driver_phone" property="jDriverPhone"/>
        <result column="j_car_card" property="jCarCard"/>
        <result column="j_car_type" property="jCarType"/>
        <result column="j_car_s_type" property="jCarSType"/>
        <result column="j_arrange_remark" property="jArrangeRemark"/>
        <result column="s_use_car_date" property="sUseCarDate"/>
        <result column="s_use_car_time" property="sUseCarTime"/>
        <result column="s_traffic_num" property="sTrafficNum"/>
        <result column="s_ride_place" property="sRidePlace"/>
        <result column="s_destination" property="sDestination"/>
        <result column="s_ride_peoples" property="sRidePeoples"/>
        <result column="s_accompany_leader" property="sAccompanyLeader"/>
        <result column="s_pay_type" property="sPayType"/>
        <result column="s_has_stop_card" property="sHasStopCard"/>
        <result column="s_add_remark" property="sAddRemark"/>
        <result column="s_car_arrange" property="sCarArrange"/>
        <result column="s_driver" property="sDriver"/>
        <result column="s_driver_phone" property="sDriverPhone"/>
        <result column="s_car_card" property="sCarCard"/>
        <result column="s_car_type" property="sCarType"/>
        <result column="s_car_s_type" property="sCarSType"/>
        <result column="s_arrange_remark" property="sArrangeRemark"/>
        <result column="c_use_car_date" property="cUseCarDate"/>
        <result column="c_use_car_time" property="cUseCarTime"/>
        <result column="c_ride_place" property="cRidePlace"/>
        <result column="c_destination" property="cDestination"/>
        <result column="c_ride_peoples" property="cRidePeoples"/>
        <result column="c_accompany_leader" property="cAccompanyLeader"/>
        <result column="c_pay_type" property="cPayType"/>
        <result column="c_has_stop_card" property="cHasStopCard"/>
        <result column="c_add_remark" property="cAddRemark"/>
        <result column="c_car_arrange" property="cCarArrange"/>
        <result column="c_driver" property="cDriver"/>
        <result column="c_driver_phone" property="cDriverPhone"/>
        <result column="c_car_card" property="cCarCard"/>
        <result column="c_car_type" property="cCarType"/>
        <result column="c_car_s_type" property="cCarSType"/>
        <result column="c_arrange_remark" property="cArrangeRemark"/>
        <result column="car_status" property="carStatus"/>
        <result column="car_status_reamrk_name" property="carStatusReamrkName"/>
        <result column="car_status_remark" property="carStatusRemark"/>
        <result column="car_end" property="carEnd"/>
        <result column="car_end_remark_name" property="carEndRemarkName"/>
        <result column="car_end_remark" property="carEndRemark"/>
        <result column="eat_dinner" property="eatDinner"/>
        <result column="eat_lunch" property="eatLunch"/>
        <result column="eat_work_meal" property="eatWorkMeal"/>
        <result column="eat_pay_type" property="eatPayType"/>
        <result column="eat_add_remark" property="eatAddRemark"/>
        <result column="eat_attention" property="eatAttention"/>
        <result column="eat_status" property="eatStatus"/>
        <result column="eat_status_reamrk_name" property="eatStatusReamrkName"/>
        <result column="eat_status_remark" property="eatStatusRemark"/>
        <result column="eat_end" property="eatEnd"/>
        <result column="eat_end_remark_name" property="eatEndRemarkName"/>
        <result column="eat_end_remark" property="eatEndRemark"/>
        <result column="eat_arrange" property="eatArrange"/>
        <result column="eat_arrange_remark" property="eatArrangeRemark"/>
        <result column="house_in_date" property="houseInDate"/>
        <result column="house_out_date" property="houseOutDate"/>
        <result column="hotel_name" property="hotelName"/>
        <result column="hotel_room_num" property="hotelRoomNum"/>
        <result column="hotel_room_type" property="hotelRoomType"/>
        <result column="hotel_vacant" property="hotelVacant"/>
        <result column="price" property="price"/>
        <result column="splice_room" property="spliceRoom"/>
        <result column="splice_people" property="splicePeople"/>
        <result column="room_total" property="roomTotal"/>
        <result column="total_price" property="totalPrice"/>
        <result column="house_pay_type" property="housePayType"/>
        <result column="house_add_remark" property="houseAddRemark"/>
        <result column="house_status" property="houseStatus"/>
        <result column="house_status_reamrk_name" property="houseStatusReamrkName"/>
        <result column="house_status_remark" property="houseStatusRemark"/>
        <result column="house_end" property="houseEnd"/>
        <result column="house_end_remark_name" property="houseEndRemarkName"/>
        <result column="house_end_remark" property="houseEndRemark"/>
        <result column="house_arrange" property="houseArrange"/>
        <result column="house_arrange_remark" property="houseArrangeRemark"/>
        <result column="activity" property="activity"/>
        <result column="account_name" property="accountName"/>
        <result column="account_blank" property="accountBlank"/>
        <result column="account" property="account"/>
        <result column="personal_synopsis" property="personalSynopsis"/>
        <result column="role" property="role"/>
        <result column="speech_topic" property="speechTopic"/>
        <result column="activity_add_remark" property="activityAddRemark"/>
        <result column="activity_add_remark_name" property="activityAddRemarkName"/>
        <result column="speech_file" property="speechFile"/>
        <result column="photo_file" property="photoFile"/>
        <result column="activity_status" property="activityStatus"/>
        <result column="activity_status_reamrk_name" property="activityStatusReamrkName"/>
        <result column="activity_status_remark" property="activityStatusRemark"/>
        <result column="create_by" property="createBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, company,area, company_leader, team_nums, card,link_user, link_phone, pick_up,
           j_use_car_date, j_use_car_time, j_traffic_num, j_ride_place, j_destination, j_ride_peoples, j_accompany_leader, j_pay_type,
        j_has_stop_card, j_add_remark, j_car_arrange, j_driver, j_driver_phone, j_car_card, j_car_type, j_car_s_type, j_arrange_remark, s_use_car_date, s_use_car_time, s_traffic_num, s_ride_place, s_destination, s_ride_peoples, s_accompany_leader, s_pay_type, s_has_stop_card, s_add_remark, s_car_arrange, s_driver, s_driver_phone,
s_car_card, s_car_type, s_car_s_type, s_arrange_remark, c_use_car_date, c_use_car_time, c_ride_place, c_destination, c_ride_peoples, c_accompany_leader, c_pay_type, c_has_stop_card, c_add_remark, c_car_arrange, 
c_driver, c_driver_phone, c_car_card, c_car_type, c_car_s_type, c_arrange_remark, car_status, car_status_reamrk_name, car_status_remark, car_end, car_end_remark_name, car_end_remark, eat_dinner, eat_lunch, eat_work_meal, eat_pay_type, eat_add_remark, eat_attention, eat_status, eat_status_reamrk_name, eat_status_remark,
 eat_end, eat_end_remark_name, eat_end_remark, eat_arrange, eat_arrange_remark, house_in_date, house_out_date, hotel_name, hotel_room_num, hotel_room_type, hotel_vacant, price, splice_room, splice_people, room_total, total_price, house_pay_type, house_add_remark, house_status, house_status_reamrk_name, house_status_remark,
 house_end, house_end_remark_name, house_end_remark, house_arrange, house_arrange_remark, activity, account_name, account_blank, account, personal_synopsis, role, speech_topic, activity_add_remark, activity_add_remark_name, speech_file, photo_file, activity_status, activity_status_reamrk_name, activity_status_remark, create_by
    </sql>

    <!--查询团队普通信息的字段-->
    <sql id="team_all_info">
        id, create_time, update_time, company,area,company_leader,team_nums,card,
        link_user,link_phone,pick_up,create_by,car_status,eat_status,house_status,activity_status,car_end,eat_end,house_end
    </sql>

    <!--查询团队用车信息的字段-->
    <sql id="team_car_info">
        id, create_time, update_time, company,area,company_leader,
        team_nums,card,link_user,link_phone,pick_up,create_by
        j_use_car_date,j_use_car_time,j_traffic_num,j_ride_place,j_destination,
        j_ride_peoples,j_accompany_leader,j_pay_type,j_has_stop_card,j_add_remark,j_car_arrange,j_driver,
        j_driver_phone,j_car_card,j_car_type,j_car_s_type,j_arrange_remark,
        s_use_car_date,s_use_car_time,s_traffic_num,s_ride_place,s_destination,s_ride_peoples,
        s_accompany_leader,s_pay_type,s_has_stop_card,s_add_remark,s_car_arrange,s_driver,
        s_driver_phone,s_car_card,s_car_type,s_car_s_type,s_arrange_remark,
        c_use_car_date,c_use_car_time,c_ride_place,c_destination,c_ride_peoples,c_accompany_leader,
        c_pay_type,c_has_stop_card,c_add_remark,c_car_arrange,c_driver,c_driver_phone,
        c_car_card,c_car_type,c_car_s_type,c_arrange_remark,car_status,car_status_reamrk_name,car_status_remark,
        car_end,car_end_remark_name,car_end_remark
    </sql>

    <!--团队用餐信息字段-->
    <sql id="team_eat_info">
        id, create_time, update_time, company,area,company_leader,team_nums,card,
        link_user,link_phone,pick_up,create_by,
        eat_dinner,eat_lunch,eat_work_meal,eat_pay_type,eat_add_remark,eat_attention,eat_status,
        eat_status_reamrk_name,eat_status_remark,eat_end,eat_end_remark_name,eat_arrange,eat_arrange_remark
    </sql>

    <!--团队活动字段-->
    <sql id="team_activity_info">
        id, create_time, update_time, company,area,company_leader,team_nums,card,
        link_user,link_phone,pick_up,create_by,
        activity, account_name, account_blank, account, personal_synopsis,role,
		speech_topic, activity_add_remark, activity_add_remark_name,
		speech_file, photo_file, activity_status, activity_status_reamrk_name,
		activity_status_remark,
		create_by
    </sql>

    <!--团队住房信息的字段 -->
    <sql id="team_house_info">
        id, create_time, update_time, company,area,company_leader,team_nums,card,
        link_user,link_phone,pick_up,create_by,
        house_in_date, house_out_date, hotel_name, hotel_room_num,
		hotel_room_type,
		hotel_vacant, price, splice_room, splice_people,
		room_total,
		total_price, house_pay_type, house_add_remark,
		house_status,
		house_status_reamrk_name, house_status_remark, house_end,
		house_end_remark_name,house_end_remark, house_arrange,
		house_arrange_remark
    </sql>

    <!-- 双字段查询条件的代码段 -->
    <sql id="twoFileds">
        <where>
            <if test="filed1 != null and filed1 != '' and value1 != null and value1 != ''">
                and ${filed1} like '%${value1}%'
            </if>
            <if test="filed2 != null and filed2 != '' and value2 != null and value2 != ''">
                and ${filed2} like '%${value2}%'
            </if>
            <if test="status != null">
                and house_status = #{status}
            </if>
            <if test="end != null">
                and house_end = #{end}
            </if>
            <if test="create != null">
                and create_by = ${create}
            </if>
        </where>
    </sql>

    <!--获取所有团队信息，通过创建人-->
    <select id="queryAllTeamInfo" resultMap="BaseResultMap">
        select
        <include refid="team_all_info"></include>
        from t_new_team
        <where>
            <if test="create != null">
                 create_by = #{create}
            </if>
        </where>
    </select>

    <!--获取单个团队所有信息-->
    <select id="queryTeamInfoById"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from t_new_team
        where id = #{id}
    </select>

    <!--获取单个团队的用车信息-->
    <select id="queryTeamCarById"  resultMap="BaseResultMap">
        select
        <include refid="team_car_info"></include>
        from t_new_team
        where id = #{id}
    </select>

    <!--获取所有团队的用车信息-->
    <select id="queryAllTeamCar"  resultMap="BaseResultMap">
        select
        <include refid="team_car_info"></include>
        from t_new_team
        <where>
            <if test="create != null">
                create_by = #{create}
            </if>
        </where>
    </select>

    <!--获取所有团队的用餐信息-->
    <select id="queryAllTeamEat"  resultMap="BaseResultMap">
        select
        <include refid="team_eat_info"></include>
        from t_new_team
        <where>
            <if test="create != null">
                create_by = #{create}
            </if>
        </where>
    </select>

    <!--获取团队的详细用餐信息-->
    <select id="queryTeamEatById"  resultMap="BaseResultMap">
        select
        <include refid="team_eat_info"></include>
        from t_new_team
        where id = #{id}
    </select>

    <!--获取团队的所有活动信息-->
    <select id="queryAllTeamActivity"  resultMap="BaseResultMap">
        select
        <include refid="team_activity_info"></include>
        from t_new_team
        <where>
            <if test="create != null">
                create_by = #{create}
            </if>
        </where>
    </select>

    <!--获取团队的活动详情-->
    <select id="queryTeamActivityById"  resultMap="BaseResultMap">
        select
        <include refid="team_activity_info"></include>
        from t_new_team
        where id = #{id}
    </select>

    <!--获取所有团队的住房信息-->
    <select id="queryAllTeamHouse"  resultMap="BaseResultMap">
        select
        <include refid="team_house_info"></include>
        from t_new_team
        <where>
            <if test="create != null">
                create_by = #{create}
            </if>
        </where>
    </select>

    <select id="queryTeamHomeById"  resultMap="BaseResultMap">
        select
        <include refid="team_house_info"></include>
        from t_new_team
        where id = #{id}
    </select>

    <!--根据选择的属性进行查询团队的信息-->
    <select id="queryTeamInfoByFiled"  resultMap="BaseResultMap">
        select
        <include refid="team_all_info"></include>
        from t_new_team
        <where>
            <if test="filed1 != null and filed1 != '' and value1 != null and value1 != ''">
                and ${filed1} like '%${value1}%'
            </if>
            <if test="filed2 != null and filed2 != '' and value2 != null and value2 != ''">
                and ${filed2} like '%${value2}%'
            </if>
            <if test="create != null">
                and create_by = #{create}
            </if>
        </where>
    </select>

    <!--根据选择的属性进行查询团队的活动信息-->
    <select id="queryTeamActivityByFiled"  resultMap="BaseResultMap">
        select
        <include refid="team_activity_info"></include>
        from t_new_team
        <where>
            <if test="filed1 != null and filed1 != '' and value1 != null and value1 != ''">
                and ${filed1} like '%${value1}%'
            </if>
            <if test="filed2 != null and filed2 != '' and value2 != null and value2 != ''">
                and ${filed2} like '%${value2}%'
            </if>
            <if test="status != null">
                and activity_status = #{status}
            </if>
            <if test="create != null">
                and create_by = ${create}
            </if>
        </where>
    </select>

    <!--根据选择的属性进行查询团队的用餐信息-->
    <select id="queryTeamEatByFiled"  resultMap="BaseResultMap">
        select
        <include refid="team_eat_info"></include>
        from t_new_team
        <where>
            <if test="filed1 != null and filed1 != '' and value1 != null and value1 != ''">
                and ${filed1} like '%${value1}%'
            </if>
            <if test="filed2 != null and filed2 != '' and value2 != null and value2 != ''">
                and ${filed2} like '%${value2}%'
            </if>
            <if test="status != null">
                and eat_status = #{status}
            </if>
            <if test="end != null">
                and eat_end = #{end}
            </if>
            <if test="create != null">
                and create_by = ${create}
            </if>
        </where>
    </select>

    <!--根据选择的属性进行查询团队的用车信息-->
    <select id="queryTeamCarByFiled"  resultMap="BaseResultMap">
        select
        <include refid="team_car_info"></include>
        from t_new_team
        <where>
            <if test="filed1 != null and filed1 != '' and value1 != null and value1 != ''">
                and ${filed1} like '%${value1}%'
            </if>
            <if test="filed2 != null and filed2 != '' and value2 != null and value2 != ''">
                and ${filed2} like '%${value2}%'
            </if>
            <if test="status != null">
                and car_status = #{status}
            </if>
            <if test="end != null">
                and car_end = #{end}
            </if>
            <if test="create != null">
                and create_by = ${create}
            </if>
        </where>
    </select>

    <!--根据选择的属性进行查询团队的住房信息-->
    <select id="queryTeamHouseByFiled"  resultMap="BaseResultMap">
        select
        <include refid="team_house_info"></include>
        from t_new_team
        <include refid="twoFileds"></include>
    </select>


</mapper>
